* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.header {
  height: 50vh;
  text-align: center;
  background-color: #d0eec3;
  background-image: url('../img/logo.png');
  background-position: center;
  background-size: cover;
}

.second-header {
  height: 100px;
  text-align: center;
  background-color: white;
  background-position: center;
}

.second-header-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #333;
  line-height: 100px;
}
 .navigation {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(172, 8, 8, 0.7);
}

.navigation nav ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  gap: 30px; 
}

.navigation nav ul li a {
  text-decoration: none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.navigation nav ul li a.active {
  color: #ff7a9a; 
  font-weight: 700;
}
.navigation nav ul li a:hover {
  color: #ffa0d4; 
}

.page-navigation {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  margin: 20px auto; 
  width: fit-content;
}

.page-navigation ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 40px; 
  align-items: center; 
}

.page-navigation li a {
  text-decoration: none; 
  color: #257411;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  
}

.page-navigation li a img {
  margin-left: 5px;
  display: inline-block;
}

.page-navigation li a:hover {
  color: #ffaeeb; 
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 40px;
  background-color: #ffffff;
}

.card {
  background-color: white;
  
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  
}

.card:hover {
  box-shadow: 0 6px 15px rgba(255, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 16px;
  color: #555;
  line-height: 1.4;
}
.page-frame {
  background-color: white;
  color: black;
  margin: 60px auto;           
  padding: 40px 60px;          
  width: 80%;        
  box-shadow: 0 5px 20px rgba(0,0,0,0.05); /* лёгкая тень */
}

.page-text {
  margin-top: 29px;
  line-height: 1.6;            
  font-weight: 400;            
  font-size: 18px;
  text-align: justify;         
}

.card-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2e472e;
}

.mem {
  display: block;
  margin: 30px auto;
  max-width: 70%;
  height: auto;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.up {
  text-align: center;
  margin: 40px 0;
}

.up-text a {
  color: #2e472e;
  font-weight: 600;
  font-size: 16px;
 
}

.up-text a:hover {
  color: #7ab87a;
}
.course-content {
    width: 100%;
    height: 300px;
    color:#000000;
     
    margin: 200px, auto, 20px;
    padding: auto;
  }

  .course-title {
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .course-text {
    font-family: 'Open Sans', Arial, sans-serif;
    list-style: none;
    padding-left: 0%;
    margin: auto;
    width: 80%;
    color: black;
    height: 100px;
    background-color: white;
    font-weight: 700;
    text-align:left;
    line-height: 20px;
  }
  #feedbacks {
  display: block;
  margin: 60px auto 20px; 
  max-width: 400px;
}


.feedback-card {
  width: 70%;
  margin: 0 auto 80px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feedback-card .card-title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.feedback-card .card-text {
  font-size: 16px;
  color: #555;
  font-style: italic;
}
.thumbnail {
  width: 100%;        
  height: 200px;  
  object-fit: cover;      
  border-radius: 12px;  
  cursor: pointer;     
  transition: transform 0.2s ease;
  margin-bottom: 15px;
}


.course-title {
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  } 
.course-text {
    font-family: 'Open Sans', Arial, sans-serif;
    padding-left: 0%;
    margin: auto;
    width: 80%;
    color: black;
    height: 100px;
    background-color: white;
    font-weight: 700;
    text-align:left;
    line-height: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 500px; 
    padding: 20px; 

  }


